.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.search-label {
  margin-bottom: 10px;
}

.search-bar input {
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
}

.search-bar button {
  padding: 8px 16px;
  width: 150px; 
}
